.banner {
  background-image: url(/assets/images/productos.png);
  height: 250px;
  background-position: center;
  background-size: cover;
}

.listado-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.25rem;
  padding: 2rem;
}