<div class="px-8">
    <ng-container
        *ngIf="(getProductos && getProductos.length > 0) || (serviciosArr && serviciosArr.length > 0) ; else noCarrito">
        <h2 class="text-center py-4">Productos y servicios seleccionados</h2>
        <div *ngIf="getProductos && getProductos.length > 0">
            <h3>Productos</h3>
            <div class="listado-card">
                <div *ngFor="let item of productForm.controls; let index = index" [formGroup]="item"
                    class="card shadow-2 p-4">
                    <app-product-detail [control]="item"></app-product-detail>
                    <app-actions-card (emitChange)="changeValue($event, index)" (saveChange)="addCart(index)"
                        [cantidadControl]="item.get('cantidad')"></app-actions-card>
                </div>
            </div>
        </div>
        <div *ngIf="serviciosArr && serviciosArr.length > 0">
            <h3>Servicios</h3>
            <div class="listado-card">
                <div *ngFor="let item of serviciosArr; let index = index" class="card shadow-2 p-4">
                    <app-service-detail [control]="item" class="flex flex-column h-full"
                        (emitter)="reloadService($event)">
                    </app-service-detail>
                </div>
            </div>
        </div>
        <form class="formulario" (ngSubmit)="enviarCotizacion()" [formGroup]="contactoForm">
            <div class="p-field">
                <label for="username">Nombre</label>
                <input id="username" pInputText placeholder="Ingrese su nombre" formControlName="nombre" />
            </div>
            <div class="p-field">
                <label for="email">Correo electrónico</label>
                <input id="email" pInputText placeholder="Ingrese su correo electrónico"
                    formControlName="emailAddress" />
            </div>
            <div class="p-field">
                <label for="telefono">Telefono / Celular</label>
                <input id="telefono" pInputText placeholder="Ingrese un numero de celular" formControlName="telefono" />
            </div>
            <div class="p-field">
                <label for="email">Empresa / Organización</label>
                <input id="email" pInputText placeholder="Ingrese su Empresa / Organización"
                    formControlName="empresa" />
            </div>
            <div class="p-field text-area">
                <label for="email">Instrucciones Adicionales</label>
                <textarea rows="12" pInputTextarea [autoResize]="true" formControlName="mensaje"></textarea>
            </div>
            <button pButton pRipple type="submit" label="Enviar" class="p-button-raised"
                [disabled]="contactoForm.invalid"></button>
        </form>
    </ng-container>
    <ng-template #noCarrito>
        <div class="no-data">
            <img src="/assets/images/cotizacion.png" style="max-width: 250px" />
            <div class="pt-4 pb-2">
                <span style="font-size: 1.5rem;">Seleccione productos o servicios para generar una cotizacion</span>
            </div>
        </div>
    </ng-template>
</div>