.formulario {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem 0;

  .p-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .text-area {
    grid-row: 1 / 5;
    grid-column: 2;
  }

  button {
    justify-self: end;
    grid-column: 2;
  }
}

.no-data {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.listado-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.25rem;
  padding: 2rem 0;
}