.card-carusel {
  display: grid;
  grid-template-columns: 45% 55%;
  max-width: 350px;

  img {
    width: 100%;
  }
}

.formulario {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem 4rem;

  .p-field {
    display: flex;
    flex-direction: column;
  }

  .text-area {
    grid-row: 1 / 5;
    grid-column: 2;
  }

  button {
    justify-self: end;
    grid-column: 2;
  }
}
