<div class="px-4">
    <ng-container
        *ngIf="(getProductos && getProductos.length > 0) || (serviciosArr && serviciosArr.length > 0) ; else noCarrito">
        <h2 class="text-center py-4">Productos y servicios seleccionados</h2>
        <div *ngIf="getProductos && getProductos.length > 0">
            <h3>Productos</h3>
            <p-carousel [value]="getProductos" [numVisible]="3" [numScroll]="3" [circular]="false"
                [responsiveOptions]="responsiveOptions">
                <ng-template let-product pTemplate="item">
                    <app-card-productos [index]="index" [productForm]="product" (emitChange)="updateProducts()">
                    </app-card-productos>
                </ng-template>
            </p-carousel>
        </div>
        <div *ngIf="serviciosArr && serviciosArr.length > 0">
            <h3>Servicios</h3>
            <p-carousel [value]="serviciosArr" [numVisible]="3" [numScroll]="3" [circular]="false"
                [responsiveOptions]="responsiveOptions">
                <ng-template let-service pTemplate="item">
                    <app-servicio-card [servicio]="service" (emitChange)="updateServices($event)"></app-servicio-card>
                </ng-template>
            </p-carousel>
        </div>
        <form class="formulario" (ngSubmit)="enviarCotizacion()" [formGroup]="contactoForm">
            <div class="p-field">
                <label for="username">Nombre</label>
                <input id="username" pInputText placeholder="Ingrese su nombre" formControlName="nombre" />
            </div>
            <div class="p-field">
                <label for="email">Correo electrónico</label>
                <input id="email" pInputText placeholder="Ingrese su correo electrónico"
                    formControlName="emailAddress" />
            </div>
            <div class="p-field">
                <label for="telefono">Telefono / Celular</label>
                <input id="telefono" pInputText placeholder="Ingrese un numero de celular" formControlName="telefono" />
            </div>
            <div class="p-field">
                <label for="email">Empresa / Organización</label>
                <input id="email" pInputText placeholder="Ingrese su Empresa / Organización"
                    formControlName="empresa" />
            </div>
            <div class="p-field text-area">
                <label for="email">Instrucciones Adicionales</label>
                <textarea rows="12" pInputTextarea [autoResize]="true" formControlName="mensaje"></textarea>
            </div>
            <button pButton pRipple type="submit" label="Enviar" class="p-button-raised"
                [disabled]="contactoForm.invalid"></button>
        </form>
    </ng-container>
    <ng-template #noCarrito>
        <div class="no-data">
            <img src="/assets/images/cotizacion.png" style="max-width: 350px" />
            <div class="pt-4 pb-2">
                <h2>Seleccione productos o servicios para generar una cotizacion</h2>
            </div>
        </div>
    </ng-template>
</div>